@using PL.Properties;
@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/game-stylesheet.css" />
}

<div class="menu">
   <div class="frame1">
        <img src="~/images/HomeImage.jpg"/>
   </div>
   <div class="frame2">
        <h5 id="title">@ScenarioTexts.WelcomeTitle</h5>
        <p id="large-text">@ScenarioTexts.WelcomeMessagePart</p>
        <br />
        <h5 id="title">@ScenarioTexts.InstructionsTitle</h5>
        <p>@ScenarioTexts.InstructionsPoint1</p>
        <p>@ScenarioTexts.InstructionsPoint2</p>
        <p>@ScenarioTexts.InstructionsPoint3</p>
        <br />
        <h6 id="warning-text">@ScenarioTexts.WelcomeWarningMessage</h6>
        <br />
        <a asp-controller="Event" asp-action="Index">Let's go</a>
    </div>
 </div>
